<?nextrec?>
<?if "=$seq$=" ?>
<?else?>
<?output "../../web/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Big Ideas in Software Development</title>
  <meta name="description" content="The Big Ideas in Software Development">
  <meta name="author" content="Herb Bowie">
	<link rel="icon" href="images/favicon-32.png"  sizes="32x32">
	<link rel="icon" href="images/favicon-128.png" sizes="128x128">
	<link rel="icon" href="images/favicon-180.png" sizes="180x180">
	<link rel="icon" href="images/favicon-192.png" sizes="192x192">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
	<header>		
		<picture>
			<source
				srcset="images/logo-dark-512.png"
				media="(prefers-color-scheme: dark)"
			/>
			<img
				src="images/logo-light-512.png"
				alt="Light bulb radiating light"
			/>
		</picture>
	</header>
	
  <main>
=$title-display-slug$=

=$body&w1o$=

<hr>

=$next-slug$=

  </main>
  
    <footer>
		<p>Copyright &copy; 2009 - 2024 Herb Bowie 
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
				CC BY-NC-SA 4.0
			</a> except where noted 
		</p>
	</footer>
	
</body>
</html>
<?endif?>
<?loop?>
